footer {
  cursor: default;
  height: 1%;
  color: #e8e8e8;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin-top: 2%;
  width: 100%;

}

p {
  height: 100%;
  width: auto;
  float: left;
  margin: 0;
  padding-top: 3%;
}