footer {
  cursor: default;
  height: 1%;
  color: #e8e8e8;
  font-family: arial;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 2%;
  width: 100%;

}

p {
  height: 100%;
  width: auto;
  float: left;
  padding-top: .3%;
  margin: 0;
}

.IG {
  float: right;
  width: 25%;
}

.IGpic {
  height: 10%;
  width: 40%;
  float: right;
}

.Links {
  width: auto;
  float: right;
  padding-right: 1%;
}
