.headerLink, .currentPage {
  color: #e8e8e8;
  font-size: 22px;
  font-style: normal;
  font-weight: 400; 
  letter-spacing: 2px;
  width: 9.8vw;
  float: left;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  overflow-x: hidden;
}

@media only screen and (max-width: 800px) {
  .headerLink, .currentPage {
    width: 19.6vw;
  }
}

.headerLink:hover {
  cursor: pointer;
  background-color: #5e5e5e;
  transition: .3s;
}

.currentPage {
  cursor: default;
  background-color: #2e2e2e;
}

.headerLink:focus, .currentPage:focus {

}
