h1 {
  cursor: default;
  font-size: 22px;
  font-weight: lighter;
  letter-spacing: 2px;
  width: 70%;
  height: 8%;
  margin: auto;
  padding-top: 0px;
  padding-bottom: 8px;
  text-align: center;
  vertical-align: middle;
  display: block;
}

h1:hover {
  cursor: default;
}

#mapPageThumbnailContainer {
  height: 90vh;
  width: 49vw;
  margin: 0px;
  float: left;
  overflow-y: hidden;
}

.thumbDiv{
  float: left;
  position: relative;
  width: 31.7%;
  margin-right: .8%;
  margin-left: .8%;
  margin-bottom: 1.6%;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  #mapPageThumbnailContainer {
    height: 100vh;
    width: 98vw;
  }
}


.dayHeader, .nightHeader {
  color: #e8e8e8;
}

.thumbnails {
  height: 100%;
  width: 100%;
  display: inline-block;
}
